body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #1F2937;
    display: flex;
    padding: 30px;
    color: white;
    gap: 30px;
    font-weight: 550;
    font-size: 20px;
    
}
.left-links{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-right: auto;
}

.container{
    display: flex;
    padding: 50px;
    background-color: #1F2937;
    color: white;
}
.left-container{
    width: 500px;
    padding: 0px 50px;
}
h1{
    font-size: 45px;
}
img{
    margin-left: 80px
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 12px;
  }

.box{
  width: 50px;
  height: 50px;
  border: 5px solid #3882F6;
  padding: 50px;
  margin: 20px;
  display: inline-block;
  border-radius: 12px;
}
.desc{
    width: 160px;
    margin: 20px;
    margin-bottom: 40px;
}
.thing{
    display: flex;
    justify-content: center;
}
.sub{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
.random h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
}
em{
    font-size: 30px;
    font: light-italic;
}
.quote{
    background-color: #E5E7EB;
    padding: 40px 100px;
    color: #1F2937;
}
.quote div{
    display: flex;
    justify-content: end;
}